<div class="flash"><%= flash[:destroy] %></div>

<p> Liste des events </p>
 	<% if @tasks.empty?%>
    <p> Vous n'avez pas encore de tâches </p>
    <% else %>
    <ul>
      <% @tasks.each do |task| %>
    
     <li><a href="/tasks/<%= task.id%>"><%= task.name%></a></li>
     <%end%>
	<%end%>
	</ul>


<%= link_to "New event" , tasks_new_path %></br>